CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar {
	position: sticky;

}
.nav-link {
	color: #42AE9B
}
.navbar-brand {
	color: #42AE9B !important	


}

.nav-item {
	margin-left: 15px;
	margin-right: 15px;
}
.navbar-toggler {
	border-color: #082F3A;
	margin-top: 1rem;
	background-color: #082F3A;
}
.navbarNav {
	color: #081426;

}
.btn {

	padding: 0.75rem 1rem;
	cursor: pointer;
	transition: var(--transition);
	margin-left: 15px;
	margin-right: 15px;
	color: #42AE9B;
}

body {
	font-family: 'Fira Code', monospace;
	background-color: #081426;
	overflow-x: hidden;
	position: sticky;
}

#bg-image {
	margin-top: 10px;
    min-height: 20vh;
	background-image: url(./images/home.png);
	background-size: inherit;
	background-position: bottom;
	min-height: 50%;
}

.front-bg {
	background-color: rgba(0, 0, 0, .10);
	margin-top: 10px;
    min-height: 50vh;
}

html {
	  scroll-behavior: smooth;
}

h4 {
	text-align: left;
	margin-left: 2rem;
	color: #42AE9B;
	margin-top: 3rem;
}

.big-heading {
	font-size: clamp(40px, 8vw, 70px);
	margin-left: 2rem;
	color: #B0CDF1;
	font-family: 'Roboto Mono', monospace;
}

.sub-heading {
	font-size: clamp(30px, 40vw, 30px);
	margin-left: 2rem;
	color: #A9A297;
	font-family: 'Roboto Mono', monospace;
}

h2 {
	color: #B0CDF1;
	margin-bottom: 1REM;
}

h3 {
	margin-bottom: 1REM;
	color: #B0CDF1;
	text-align: center;
}

h5 {
	color: #B0CDF1;
	text-align: center;
}

#family {
	opacity: 90%;
}

h6 {
	text-align: center;
	margin-bottom: 2REM;
}

.bio {
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin-left: 2rem;
	text-align: left;
	color: #A9A297;
}

.card {
	border: none;
}

.card-body {
	background-color: #0E1B33;
}

.card-text {
	text-align: justify;
	color: #A9A297;
	margin-top: 2rem;
}

div .card {
    background-color: #0E1B33;
}
.form-group {
	color: #A9A297;
}
div.modal-header {
	color: #B0CDF1;

}
.btn {
	color: #B0CDF1;
	background-color: #082F3A;
	text-align: left;
}

#about {
	background-color: #082F3A;
	opacity: 90%;

}

#contact {
    background-color: #082F3A;
}

footer {
	text-align: center;
    padding: 2rem;
    color: B0CDF1; !important	
}